<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的小恐龍</title>
    <link rel="stylesheet"  href="http://192.168.56.6:9000/mybucket/static/index.css">
    <script src="http://192.168.56.6:9000/mybucket/static/jquery-3.6.1.min.js"></script>

</head>

<body>
    <div id="game">
        <h3></h3>
        <p>遊戲结束</p>
        <h2>成功</h2>
        <div id="scoreBoard"></div>
        <textarea id="user_name" placeholder="Input user name"></textarea>
        <button id="input_name">確認</button>
        <button id="clear_board">清除</button>
        <button id="start_game">開始遊戲</button>
        <button id="resume" onclick="window.location.reload()">重新遊戲</button>
        <img src="http://192.168.56.6:9000/mybucket/static/role.gif" class="role">
        <img src="http://192.168.56.6:9000/mybucket/static/tree.png" class="tree">
    </div>
    <script src="http://192.168.56.6:9000/mybucket/static/index.js"></script>
    
</body>

</html>